*
{
    margin: 0px;
    padding: 0px;
}


body
{
    background: #eceff1;
}


.container
{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
align-items: center;
justify-items: center;
}

.tile1
{
  grid-row: 1/2;
  grid-column: 1/2;
    height: 400px;
    width: 300px;
    background-color: #121212;
    border-color: white;
    margin: 50px;
    box-shadow: 5px 10px 18px 7px #b0bec5;
    border-radius: 10px;
    color: white;
    text-align: center;
    float: left;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .tile2
{
  grid-row: 1/2;
  grid-column: 2/3;
    height: 400px;
    width: 300px;
    background-color: #121212;
    border-color: white;
    margin: 50px;
    box-shadow: 5px 10px 18px 7px #b0bec5;
    border-radius: 10px;
    color: white;
    text-align: center;
    float: left;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .tile3
{
  grid-row: 1/2;
  grid-column: 3/4;  
  height: 400px;
    width: 300px;
    background-color: #121212;
    border-color: white;
    margin: 50px;
    box-shadow: 5px 10px 18px 7px #b0bec5;
    border-radius: 10px;
    color: white;
    text-align: center;
    float: left;
    display: grid;
    align-items: center;
    justify-items: center;
  }